.App {
  background-color: aqua;
}

.hero-image {
    background-image: url("background.jpg"); /* The image used */
     /* Used if the image is unavailable */
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }


  .select-input{
    text-align: center;
    margin: 150px auto;
    width:50%;
    appearance: none;
    padding: 5px 5px;
    color: rgb(0, 0, 0);
    font-family: 'PT Sans', sans-serif;
    font-size: larger;
    
    
  }

  .with-linear-gradient {
    border: 4px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left,rgb(108,180,239),rgb(254,62,165));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .weather-card{
    width: 100px;
    padding: 0 0;
    text-align: center; 
  }


  